body {
  @apply bg-white overflow-x-hidden font-Inter;
}

.form_error {
  @apply text-xs tracking-wider text-red-500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  @apply w-[0.313rem];
}

::-webkit-scrollbar-track-piece {
  @apply bg-primary-lightGray rounded-xl;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

::-webkit-scrollbar:horizontal {
  @apply h-[0.313rem];
}

.container {
  @apply max-w-[91.875rem] mx-auto px-[0.9375rem];
}

@screen maxLg {
  .overlay {
    transition: all 0.3s ease-in-out;
    @apply w-full fixed h-full;
  }
  .overlay::before {
    content: "";
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    @apply absolute top-0 left-0 right-0 bottom-0;
  }
}

.review-card .slick-track {
  @apply flex gap-5;
}

.not-last:not(:last-child) {
  @apply pb-10;
}

/* button  */
.btn-primary {
  @apply text-white hover:text-primary bg-primary px-[4.375rem] py-3.5 text-maxSm leading-2.6 tracking-tighter font-semibold rounded-lg border border-transparent hover:border-primary hover:bg-white;
}
.btn-secondary {
  @apply text-primary hover:text-primary bg-white px-[4.375rem] py-3.5 text-maxSm leading-2.6 tracking-tighter font-semibold rounded-lg border border-transparent hover:border-primary hover:bg-white;
}
.btn-outlined{
  @apply text-primary hover:text-white hover:bg-primary bg-white px-[4.375rem] py-3.5 text-maxSm leading-2.6 tracking-tighter font-semibold rounded-lg border hover:border-transparent border-primary; 
}
.table thead {
  @apply bg-accent-foreground;
}

.table thead tr th {
  @apply py-[1.5313rem] px-3 font-semibold text-lg leading-3.5 text-left;
}
